<% provide(:title, 'about') %>
<body id="home">
	<div class="hero-unit">
		<h3>About the Company</h3>

			<br>

			<p><i>A Computer Science & Software Engineering Company</i></p>

			<br>


		

		</div>

		<div class="hero-unit">
			<h4>Contact info: </h4>

			<br>

			<p>auburnavenueresearch@gmail.com</p>
			<p>(404) 465 - 4034</p>

			<h2></h2>

			<p></p>
		</div>
	</body>

