<% provide(:title, 'About') %>
<body id="home">
	<div class="hero-unit">
		<h3>About the Company</h3>

			<br>

			<p><i>Positive Social and Economic Change through Technology</i></p>

			<br>


			<p>
			<i><b>Vision Statement:</b></i>

				<br>
			</p>
			<p>
				
				To create a thriving technology sub-community, that exists to build, educate and empower businesses in under-served areas, or underrepresented markets in tech, science, mathematics, and engineering. 
			</p>
			<p>
			<i><b>Mission statement:</b></i>

				<br>
			</p>

			<p>
				The Auburn Avenue Research Company will serve as an educational and economic base to launch technology based enterprises that include and appreciate people from demographics that are currently underrepresented in the tech industry. 
			</p>

		</div>

		<div class="hero-unit">
			<h4>Jon Gosier: The problem with "trickle-down techonomics"</h4>

			<p>Hooray for technology! It makes everything better for everyone!! Right? Well, no. When a new technology, like ebooks or health trackers, is only available to some people, it has unintended consequences for all of us. Jon Gosier, a TED Fellow and tech investor, calls out the idea of "trickle-down techonomics," and shares powerful examples of how new tech can make things actually worse if it's not equally distributed. As he says, "the real innovation is in finding ways to include everyone."</p>

			<iframe width="560" height="315" src="https://www.youtube.com/embed/POTosC2q6Hs" frameborder="0" allowfullscreen></iframe>
		</div><br>
		<div class="hero-unit">
			<h4>Contact info: </h4>

			<br>

			<p>auburnavenueresearch@gmail.com</p>
			<p>(404) 465 - 4034</p>

			<h2></h2>

			<p></p>
		</div>
	</body>

