<% provide(:title, 'about') %>
<body id="home">
	<div class="hero-unit">
		<h3>About us.</h3>

			<br>
			<p>
				The Auburn Avenue Research Company is a software engineering consultancy and development firm.<br>
				We are a project-based computer research laboratory working to launch new technology based enterprises<br>
				and provide innovative technology solutions to businesses and consumers. We study and build with the latest<br>
				and most stable open-source technologies, such as,Linux, Python, and Raspberry Pi, as our core business operation.<br>
				The goal of our research is to create educational materials, consult and tutor, and conduct <br>
				research and development projects for future products and services.<br>
			</p>

			<p>
				We are all using computers more and in many new facets of our lives, including in our cars, homes,<br>
				and even our workouts. With computers becoming more and more ubiquitous in our lives, has come <br>
				many opportunities to make new things and to make old things better. Our company embraces the<br>
				introduction of systems like the Internet of Things and 3D printing, and our goal is to create and build<br>
				using all of the skills that fall into our competencies.
			</p>

			<p>
				The culture of our firm is rooted in the love of programming, creativity, and engineering. We are an<br>
				organization of people who love what we do, and we want more people like us.  By creating a non-<br>
				traditional learning environment and  merging online research with personal tutoring and workshops,<br>
				we are creating a more social educational environment for  people to learn coding.
			</p>

			<p>
				Contracting: If you have a project that needs Python, Ruby [Rails], Java, and/or Linux, we would be happy to<br>
				discuss your requirements.  We also have a computer science tutors available.
			</p>
			<br>
			<div>
			<a href=mailto:info@auburnavenueresearch.com>Contact us.</a>
			</div>

			<br>
			<div class="tumblr-post" data-href="https://embed.tumblr.com/embed/post/SF2K1JFKoxRfyvyuKT_enQ/132847054844" data-did="1a87a565afebafe25a3ecbc0de844be308a4e97c">
				<a href="http://auburn-avenue-research.tumblr.com/post/132847054844/raspberry-pi-jam-barnes-noble-maker-faire">http://auburn-avenue-research.tumblr.com/post/132847054844/raspberry-pi-jam-barnes-noble-maker-faire</a>
			</div>

			<script async src="https://secure.assets.tumblr.com/post.js"></script>


		</div>

		<div class="hero-unit">
			<h4><b>Contact info: </b></h4>

			<br>

			<p>info@auburnavenueresearch.com</p>
			<p>(404) 465 - 4034</p>
			<br>
			<br>
			<h6><i>*We are not in any way affiliated or associated with the Auburn Avenue Research Library</i></h6>
		</div>
	</body>
