<% provide(:title, 'about') %>
<body id="home">
	<div class="hero-unit">
		<h3>About the Company</h3>

			<br>
			<p>
			The Auburn Avenue Research Company is a computer science and software engineering firm that was<br>
			formed from our passion for programming and it's role in technology. We work on technology projects<br>
			<br>as a business function. The goal of our research is to create educational materials, do<br>
			consultation and tutoring, and research and development projects for future products and services.   
			</p>
			<p>
			We are all using computers a lot more in many new facets of our lives, including in our cars, homes,<nr>
			and even our workouts. With computers becoming more and more ubiquitous in our lives, has come the<br>
			creation of many new jobs and opportunities to participate in the tech economy. Our company creates <br>
			products and services that guide people through the process of learning to program and through our<br>
			research, we solve real world business and consumer problems, which take two forms.
			</p>
			<p>
			We are creating a non-traditional learning environment merging both online and personal tutoring and<br>
			workshops. We are currently developing a YouTube series and  computer science event tour based on using<br>
			the Raspberry Pi to learn programming. 
			</p>
			<p>
			We are open source evangelists who make appearances at science events, Boys & Girls Clubs, and other<br>
			learning spaces. Our last event was a Raspberry Pi Jam that we hosted at Barnes & Noble during the first<br>
			ever #BNMakerFaire. 
			</p>
			<p>
			If you have a project using python, ruby, java, or Linux, we would be happy to assist.  
			</p>
			<p>
			We also have a computer science tutors available.
			</p>
			<div>
			<a href=mailto:info@auburnavenueresearch.com>Contact us.</a>
			</div>



<i>*We are not in any way affiliated or associated with the Auburn Avenue Research Library</i>
			<br>
			<div class="tumblr-post" data-href="https://embed.tumblr.com/embed/post/SF2K1JFKoxRfyvyuKT_enQ/132847054844" data-did="1a87a565afebafe25a3ecbc0de844be308a4e97c">
				<a href="http://auburn-avenue-research.tumblr.com/post/132847054844/raspberry-pi-jam-barnes-noble-maker-faire">http://auburn-avenue-research.tumblr.com/post/132847054844/raspberry-pi-jam-barnes-noble-maker-faire</a>
			</div>

			<script async src="https://secure.assets.tumblr.com/post.js"></script>

		</div>

		<div class="hero-unit">
			<h4>Contact info: </h4>

			<br>

			<p>info@auburnavenueresearch.com</p>
			<p>(404) 465 - 4034</p>

			<h2></h2>

			<p></p>
		</div>
	</body>
