<% provide(:title, 'about') %>
<body id="home">
	<div class="hero-unit">
		<h3>About the Company</h3>

			<br>

			<p><i>A Computer Science & Software Engineering Company</i></p>

			<br>
			<div class="tumblr-post" data-href="https://embed.tumblr.com/embed/post/SF2K1JFKoxRfyvyuKT_enQ/132847054844" data-did="1a87a565afebafe25a3ecbc0de844be308a4e97c">
				<a href="http://auburn-avenue-research.tumblr.com/post/132847054844/raspberry-pi-jam-barnes-noble-maker-faire">http://auburn-avenue-research.tumblr.com/post/132847054844/raspberry-pi-jam-barnes-noble-maker-faire</a>
			</div>

			<script async src="https://secure.assets.tumblr.com/post.js"></script>	

		</div>

		<div class="hero-unit">
			<h4>Contact info: </h4>

			<br>

			<p>auburnavenueresearch@gmail.com</p>
			<p>(404) 465 - 4034</p>

			<h2></h2>

			<p></p>
		</div>
	</body>
