<% provide(:title, 'Links') %>

<h1>Links & Resources</h1>

	<h4>Pages you may like:</h4>

	<p><a href="http://www.codeacademy.com/">Code Academy</a></p>

	<p><a href="https://www.codeeval.com/">code_eval</a></p>

	<p><a href="https://projecteuler.net/">Project Euler</a></p>

	<p><a href="https://www.codeschool.com/">Code School</a></p>

	<p><a href="http://www.reddit.com/r/learnprogramming/">learnprogramming</a></p>

	

 
