<% provide(:title, 'Library') %>

<h1>Research Library</h1>

	<div>
		<h4>Learn Programming:</h4>

			<p><a href="http://www.codeacademy.com/">Code Academy</a></p>

			<p><a href="https://www.codeeval.com/">code_eval</a></p>

			<p><a href="https://projecteuler.net/">Project Euler</a></p>

			<p><a href="https://www.codeschool.com/">Code School</a></p>

			<p><a href="http://www.reddit.com/r/learnprogramming/">learnprogramming</a></p>

			<p><a href="http://www.theodinproject.com//">The Odin Project</a></p>

			<p><a href="https://www.techmaker.tv/blog_posts/21">Techmaker</a></p>
	</div>
	<br>
	<div>
		<h4>Free Online Courses: </h4>
	
			<p><a href="https://www.edx.org/course/introduction-computer-science-harvardx-cs50x#.VPS2mfnF-So">Introduction to Computer Science: An introduction to the intellectual enterprises of computer science and the art of programming.</a></p>

			<p><a href="https://www.coursera.org/course/pythonlearn">Programming for Everybody(Python)</a></p>

			<p><a href="https://www.edx.org/course/introduction-computer-science-mitx-6-00-1x-0#.VPS0v_nF-So">Introduction to Computer Science and Programming Using Python</a></p>

			<p><a href="https://www.udacity.com/course/cs101">Intro to Computer Science:
															Build a Search Engine & a Social Network</a></p>

			<p><a href="https://www.udacity.com/course/cs046">Intro to Java Programming:
														Building Programs with Classes & Objects</a></p>
	</div>
	<br>
	<div>

		<h4>Class Video</h4>
	
			<p><a href="https://www.youtube.com/watch?v=k6U-i4gXkLM&list=PL4C4720A6F225E074&index=1">MIT 6.00 Introduction to Computer Science and Programming, Fall 2008</a></p>
			<p>This subject is aimed at students with little or no programming experience. It aims to provide students with an understanding of the role computation can play in solving problems. It also aims to help students, regardless of their major, to feel justifiably confident of their ability to write small programs that allow them to accomplish useful goals. The class will use the Python™ programming language.</p>

			<p><a href="https://www.youtube.com/user/lockersoft">Dave Jones</a></p>
			<p>Mostly videos of my lectures while teaching various programming classes at Spokane Community College.</p>
	</div>