<% provide(:title, 'Help') %>
<body id="home">
	<h1>Help</h1>
	<div class="hero-unit center">
				<p>
				<%= link_to image_tag("logo.jpg", alt: "Craftsman"), 'http://craftsman.com' %>
				</p>

				<p> <a href="http://craftsman.com">Craftsman</a>.</p>
	</div>
</body>