<% provide(:title, 'library') %>

<h1>Research Library</h1>

<div align="center">
<%= link_to image_tag("AARC 1 color_no type.jpg", alt: "Raspberry Pi A+"), 'http://auburn-avenue-research.tumblr.com/post/132847054844/raspberry-pi-jam-barnes-noble-maker-faire' %>
</div>

	<div>
	<br>
	<h1>Learn Programming</h1>
	<br>
		<table>
			<br>
			<tr>

				<td><a href="http://www.codeacademy.com/"><b>Code Academy</b></a></td>
				<td>Codecademy is an online interactive platform that offers free coding classes in seven different programming languages including Python, PHP, jQuery, JavaScript, and Ruby, as well as markup languages HTML and CSS.</td>
				<td></td>

			</tr>
			<tr>

				<td><a href="https://www.codeeval.com/"><b>code_eval</b></a></td>
				<td style="width:100%">CodeEval is a platform used by developers to showcase their skills. Developers can participate in app building competitions and win cash/prizes. They can also solve programming challenges as a way to impress employers with their technical skills. </td>
				<td></td>
			</tr>
			<tr>

				<td><a href="https://projecteuler.net/"><b>Project Euler</b></a></td>
				<td>Project Euler is a series of challenging mathematical/computer programming problems that will require more than just mathematical insights to solve. Although mathematics will help you arrive at elegant and efficient methods, the use of a computer and programming skills will be required to solve most problems.</td>
				<td></td>
			</tr>
			<tr>

				<td><a href="https://www.codeschool.com/"><b>Code School</b></a></td>
				<td>Learn to code in the comfort of your browser with video tutorials, programming challenges, and screencasts.</td>
				<td></td>
			</tr>
			<tr>

				<td><a href="http://www.reddit.com/r/learnprogramming/"><b>/r/learnprogramming</b></a></td>
				<td>The sub-reddit for people who are learning to program</td>
				<td></td>
			</tr>
			<tr>

				<td><a href="http://www.theodinproject.com//"><b>The Odin Project</b></a></td>
				<td>Not everyone has access to a computer science education or the funds to attend an intensive coding school and neither of those is right for everyone anyway. This project is designed to fill in the gap for people who are trying to hack it on their own but still want a high quality education.</td>
				<td></td>
			</tr>
			<tr>
				<td><a href="https://www.techmaker.tv/"><b>Techmaker</b></a></td>
				<td> A free, six-week boot camp for web development. At the end of six weeks you will be able to make a basic but fully featured web application, and you will have a foundation in place that you can build on and continue learning.</td>
				<td></td>
			</tr>
		</table>
	</div>
	<br>
	<div>
		<h4>Free Online Courses: </h4>

			<p><a href="https://www.edx.org/course/introduction-computer-science-harvardx-cs50x#.VPS2mfnF-So">Introduction to Computer Science: An introduction to the intellectual enterprises of computer science and the art of programming.</a></p>

			<p><a href="https://www.coursera.org/course/pythonlearn">Programming for Everybody(Python)</a></p>

			<p><a href="https://www.edx.org/course/introduction-computer-science-mitx-6-00-1x-0#.VPS0v_nF-So">Introduction to Computer Science and Programming Using Python</a></p>

			<p><a href="https://www.udacity.com/course/cs101">Intro to Computer Science:
															Build a Search Engine & a Social Network</a></p>

			<p><a href="https://www.udacity.com/course/cs046">Intro to Java Programming:
														Building Programs with Classes & Objects</a></p>
	</div>
	<br>
	<div>

		<h4>Class Video</h4>

			<p><a href="https://www.youtube.com/watch?v=k6U-i4gXkLM&list=PL4C4720A6F225E074&index=1">MIT 6.00 Introduction to Computer Science and Programming, Fall 2008</a></p>
			<p>This subject is aimed at students with little or no programming experience. It aims to provide students with an understanding of the role computation can play in solving problems. It also aims to help students, regardless of their major, to feel justifiably confident of their ability to write small programs that allow them to accomplish useful goals. The class will use the Python™ programming language.</p>

			<p><a href="https://www.youtube.com/user/lockersoft">Dave Jones</a></p>
			<p>Mostly videos of my lectures while teaching various programming classes at Spokane Community College.</p>
	</div>
