<% provide(:title, 'services') %>
<%= stylesheet_link_tag    "services", media: "all", "data-turbolinks-track" => true %>

<h1>Services</h1>
<br>
<br>
<div>
	<table>
		<tr>
			<td><b>Software Solutions<b></td>
			<td>
				<ul>
					<li>Custom Software</li>
					<li>Big Data Solutions: Analysis & Reporting</li>
					<li>Android Mobile App Development</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td><b>Web Development</b></td>
			<td>
				<ul>
					<li>Ruby on Rails Web App Development</li>
					<li>Web Design</li>
				</ul>
			</td>

		</tr>
		<tr>
			<td><b>Coding:</b><br> C, Java, Python, Ruby, & Go</td>
			<td>
				<ul>
					<li>Coders for Hire</li>
					<li>Code Review and Refactoring</li>
					<li>Documentation</li>
				</ul>
			</td>
		</tr>
	</table>

	
</div>