<% provide(:title, 'services') %>
<%= stylesheet_link_tag    "services", media: "all", "data-turbolinks-track" => true %>

<h1>Services</h1>
<br>
<br>
<div align="center">
<%= link_to image_tag("AARC 1 color_no type.jpg", alt: "services"), 'http://auburn-avenue-research.tumblr.com/post/132847054844/raspberry-pi-jam-barnes-noble-maker-faire' %>
</div>
<br>
<br>
<div>
	<table>
		<tr>
			<td><b>Project Contracts</b></td>
			<td>
				<ul>
					<li>Ruby on Rails Web App Development</li>
					<li>Python</li>
					<li>Java</li>
					<li>Linux</li>
				</ul>
			</td>

		</tr>
		<tr>
			<td><b>Education<b></td>
			<td>
				<ul>
					<li>Tutorials</li>
					<li>Demonstrations</li>
					<li>Computer Science Talks and Events</li>
					<li>Programming Tutors</li>
				</ul>
			</td>
		</tr>


	</table>


</div>
