<% provide(:title, 'services') %>
<%= stylesheet_link_tag    "services", media: "all", "data-turbolinks-track" => true %>

<h1>Services</h1>
<br>
<br>
<div>
	<table>
		<tr>
			<td><b>Education<b></td>
			<td>
				<ul>
					<li>Tutorials</li>
					<li>Demonstrations</li>
					<li>Computer Science Talks and Events</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td><b>Project Contracts</b></td>
			<td>
				<ul>
					<li>Ruby on Rails Web App Development</li>
					<li>Python</li>
					<li>Javascript</li>
				</ul>
			</td>

		</tr>
		
	</table>


</div>
