<% @user ||= current_user %>
<div>
	<a href="<%= following_user_path(@user) %>">
			<small><%= @user.followed_users.count %> following</small></a>
	<a href="<%= followers_user_path(@user) %>"><small><%= @user.followers.count %>
		followers
	</a></small>
</div>