<h3>
	<%= "#{current_user.first_name} #{current_user.last_name}" %>
</h3>
<span>
	<small><%= link_to "view my profile", current_user %></small>
</span>
<span>
	<small><%= pluralize(current_user.posts.count, "post") %></small>
</span>