
<footer class="footer">
		
		<div class="social">
		<small>
			<a href="https://auburnavenueresearch.herokuapp.com/">The Auburn Avenue Research Company</a>
			</small>
			<br>
			<a href="https://plus.google.com/104315039161671574114" rel="publisher">Google+</a>
<!--		<nav>
				<nav>
					<ul>
					</ul>
				</nav>
			</nav> -->
		</div>
</footer>
	