
<footer class="footer">
		<%= link_to image_tag("instagram.png", alt: ""), 'https://instagram.com/auburn_avenue_research/' %><%= link_to image_tag("twitter.png", alt: "Auburn Avenue Research"), 'https://twitter.com/auburn_research' %><%= link_to image_tag("youtube.png", alt: "Research TV"), 'https://www.youtube.com/channel/UCo2Edw7R1cS2rdd7-Dyr4ag' %><%= link_to image_tag("tumblr.png", alt: "t"), 'http://auburn-avenue-research.tumblr.com/' %>
</div>
	<div class="social">
	<small>
		<a href="https://auburnavenueresearch.herokuapp.com/">The Auburn Avenue Research Company</a>
	</small>
	<nav>
	<nav>
		<ul>
		</ul>
	</nav>
	</nav>
</footer>
	