
<footer class="footer">
		
		<div class="social">
		<small>
			<a href="https://auburnavenueresearch.herokuapp.com/">The Auburn Avenue Research Company</a>
			</small>
			<li><%= link_to "About",		about_path %></li>
			<!-- < <nav>
				<nav>
					<ul>
						<li><%= link_to "About",		about_path %></li>
					</ul>
				</nav>
			</nav> -->
		</div> 
		<a href="https://plus.google.com/104315039161671574114" rel="publisher"></a>
</footer>
	